body{
  background-color: rgba(241, 165, 165, 0.678);
  text-align: center;
  margin-top: 300px;

}
.App {
  font-family: sans-serif;
  color: blue;
  /* top: 140px; 
  position: relative; */
} 

ul {
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  margin-left: 20px;
  cursor: pointer;
  height: 30px;
  width: 80px;
  border-radius: 25px;
}
.head{
  font-size: 55px;
  color:black;
  font-style:italic;
  bottom: 10px;
  position: relative;
}
input{
  height: 40px;
  width: 300px;
  margin-top: 80px;
}